PORT=5000
NODE_ENV=development
JWT_SECRET=replace_with_a_long_secret
API_PUBLIC_URL=http://localhost:5000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=music_player

CLIENT_URL=http://localhost:4200
