<section class="account-page">
  <div class="account-card" *ngIf="user">
    <div class="avatar"><i class="bi bi-person-hearts"></i></div>
    <h1>{{ user.name }}</h1>
    <p>{{ user.email }}</p>
    <dl>
      <div>
        <dt>Name</dt>
        <dd>{{ user.name || 'Not added' }}</dd>
      </div>
      <div>
        <dt>Email</dt>
        <dd>{{ user.email || 'Not added' }}</dd>
      </div>
      <div>
        <dt>Phone</dt>
        <dd>{{ user.phone || 'Not added' }}</dd>
      </div>
      <div>
        <dt>Address</dt>
        <dd>{{ user.city || 'Not added' }}</dd>
      </div>
    </dl>
  </div>
</section>
